
.card-div {
    z-index: 1;
    position: absolute;
    height: 0%;
}

.img-div {
    z-index: 0;
}

.image {
    height: 600px;
}

.details-card {
    max-width: 800px;
    height: fit-content;
    text-align: justify;
    position: relative;
    background-color: rgb(17, 12, 48);
    color: white;
    font-size: large;
}

.body {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    float: center;
}

.html {
    background-color: black;
    width: max-content;
    height: max-content;
}