.container {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
}
.right-toppane {
    width: 25%;
    height: 100px;
    background-color: #e6e6e6;
    float: right;
}

.center-toppane {
    width: 50%;
    height: 100px;
    background-color: black;
    float: center;
    z-index: -1;
}

.left-toppane {
    width: 25%;
    height: 100px;
    background-color: #e6e6e6;
    float: left;
}


.toppane {
    width: 100%;
    height: 100px;
    margin: 0 !important;
}

.leftpane {
    width: 25%;
    height: 100vh;
    background-color: #e6e6e6;
}

.middlepane {
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    height: 100vh;
    background-color: white;
}

.rightpane {
    width: 25%;
    height: 100vh;
    background-color: #e6e6e6;
}

body {
    margin: 0 !important;
}

.d-flex {
    display: flex;
    background-color: #e6e6e6;
}

.img-div {
    height: 100vh;
    float: left;
}

.info-div {
    float: left;
}

.card-div{
    margin-left: 70px;
}

.matdivider-div {
    object-fit: fill;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

mat-card {
    width: 320px;
    text-align: justify;
}

.genre-buttons {
    margin: 10px;
}
.card-divider {
    padding: 5px;
}

.rating-button{
    width: 100%;
    font-size: large;
}
